SECRET_KEY=...

DEBUG=...
# настройки БД
NAME=...
USER=...
PASSWORD=...
HOST=...
PORT=...
# настройки отправки в Телеграм
BOT_TOKEN=...
# настройки планировщика задач
CELERY_BROKER_URL=...
CELERY_RESULT_BACKEND=...