SECRET_KEY=...

DEBUG=...
# настройки БД
POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_HOST=...
POSTGRES_PORT=...
# настройки отправки в Телеграм
BOT_TOKEN=...
# настройки планировщика задач
CELERY_BROKER_URL=...
CELERY_RESULT_BACKEND=...